
                              <ul>
                                <% @applicants.each do |applicant| %>
                                  <li><%= applicant.username %></li>
                                  <!-- Mostrar otras propiedades del usuario según tus necesidades -->
                                <% end %>
                              </ul>