<div class= "container">  
    <p style="color: green"><%= notice %></p>
    <div id="positions" class="row row-cols-1 row-cols-md-3 g-4">
      <% if user_signed_in?%>
        <h1>Ofertas laborales</h1>    
          <% @positions.each do |position| %>
            <div class="col">
              <%= render position %>
             </div>
           
          <% end %>
        </div>
          <% if current_user.admin? %>
            <%= link_to "New position", new_position_path %>            
          <% end %>
      <%else%>
        
      <% end %>   
    </div> 
</div> 