
<div class="container">
  <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1>New position</h1>
        <%= render "form", position: @position %>
       </div>
      <div class="col">
      </div>          
      <div class="container mt-5 text-center">
          <%= link_to "Back to positions", positions_path %>
      </div>
  </div>
</div>
