<div class="container">
    <div class="home" >
        <%= image_tag ('https://karipic3.s3.amazonaws.com/oferta_empleo.png'), style: 'width: 600px; height: 300px; display: block; margin: 0 auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); '%>
        <%= link_to "Ingresar", positions_path, class: "link-primary center-link text-white link-underline-light" %>
    </div> 
</div> 